.footer{
    background-color: #252A2C;
    margin-top: -180px;
}

.footer h3{
    color: white;
    font-size: 17px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer p{
    color: #C3C6C8;
    padding-bottom: 25px;
}

.footer1 p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer1{
    padding-top: 80px;
    display: flex;
    justify-content: flex-start;
    gap: 240px;
}

.footer1-left{
    margin-left: 50px;
}

.footer1-responsive{
    display: none;
}

.footer2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer hr{
    margin: auto;
}

.socialmedia img{
    width: 30px;
    height: 30px;
    padding: 10px;
}

.facebook{
    margin-left: 30px;
}

.emailaddress{
    color: white;
    width: 400px;
    margin-right: 40px;
}

.emailaddress {
    width: 440px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background: white;
}

.input-group input {
    flex: 1;
    border: none;
    padding: 12px;
    font-size: 16px;
    outline: none;
    color: #555;
}

.input-group button {
    background: #dfff00;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.input-group button:hover {
    filter: brightness(0.7);
}

.input-group button svg {
    width: 20px;
    height: 16px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
}

.checkbox-container input {
    background-color: white;
    appearance: none;
    width: 30px;
    height: 20px;
    border: 1px solid white;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-container input:checked::before {
    content: '✔';
    font-size: 16px;
    color: black;
    position: absolute;
    left: 4px;
}

.checkbox-container a {
    color: #dfff00;
    text-decoration: none;
}

.arrow{
    width: 20px;
}

.footer3{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.footer3-middle{
    display: flex;
    gap: 20px;
}